[submodule "modules/firewall"]
	path = modules/firewall
	url = git://github.com/coraltech/puppet-firewall.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = git://github.com/coraltech/puppet-ntp.git
[submodule "modules/locales"]
	path = modules/locales
	url = git://github.com/coraltech/puppet-locales.git
[submodule "modules/global_lib"]
	path = modules/global_lib
	url = git://github.com/coraltech/puppet-global_lib.git
[submodule "modules/puppet"]
	path = modules/puppet
	url = git://github.com/coraltech/puppet-puppet.git
[submodule "modules/iptables"]
	path = modules/iptables
	url = git://github.com/coraltech/puppet-iptables.git
[submodule "modules/ssh"]
	path = modules/ssh
	url = git://github.com/coraltech/puppet-ssh.git
[submodule "modules/sudo"]
	path = modules/sudo
	url = git://github.com/coraltech/puppet-sudo.git
[submodule "modules/users"]
	path = modules/users
	url = git://github.com/coraltech/puppet-users.git
[submodule "modules/git"]
	path = modules/git
	url = git://github.com/coraltech/puppet-git.git
[submodule "modules/vcsrepo"]
	path = modules/vcsrepo
	url = git://github.com/coraltech/puppet-vcsrepo.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = git://github.com/coraltech/puppet-stdlib.git
[submodule "modules/apt"]
	path = modules/apt
	url = git://github.com/coraltech/puppet-apt.git
[submodule "modules/percona"]
	path = modules/percona
	url = git://github.com/coraltech/puppet-percona.git
[submodule "modules/haproxy"]
	path = modules/haproxy
	url = git://github.com/coraltech/puppet-haproxy.git
