[submodule "modules/firewall"]
	path = modules/firewall
	url = git://github.com/coraltech/puppet-firewall.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = git://github.com/coraltech/puppet-ntp.git
